* {
  line-height: 142%;
}

html, body  {
  font-size: 100%;
}

body {
  font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
  font-size: 88%;
  direction: ltr;
  color: #000;
}

ol, ul {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.collapse {
  height: 0;
}

.collapse.in {
  height: inherit;
}

.row-fluid .span9 {
  width: 80%;
}

.row-fluid .span3 {
  width: 20%;
}

.navbar {
  margin: 5px 10px 15px 0;
  border: 1px solid #DDD;
  box-shadow: 0 0 4px #E3E5EB;
  background-color: #FFF;
  border-radius: 0px;
}

.btn, button {
  border: 1px solid #DCDCDC;
  background-color: #F5F5F5;
  border-radius: 2px 2px 2px 2px;
  margin: 0 5px;
  color: #999999;
  background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
}

.btn:hover {
  border: 1px solid #444444;
  color: #444444;
  background-image: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1);

}

li.feed {
  padding: 5px 5px 0px 30px;
  font-size: 80%;
  margin: 0;
}

li.feed.has-unread  a{
  color: #000;
}

li.feed.has-unread  a:hover{
  color: #000;
}

li.folder > h4 {
  border: none;
  border-radius: 0px;
  padding: 2px;
  margin: 5px 5px 0px 5px;
}

li.folder > h5 {
  border: none;
  border-radius: 0px;
  padding: 2px;
  margin: 5px 5px 0px 5px;
}

ul#list-items {
  border-top: 1px solid #DDDDDD;
}

li.item-list {
  line-height: 142%;
  min-height: 27px;
  cursor: pointer;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: auto;
  border-left: 1px none #FFF;
}

.item-list .well {
  border-top: none;
  border-right: none;
  box-shadow: 0 2px 2px #E3E5EB;
  margin-top: 0;
  margin-right: 0;
  padding-top: 0;
}

.item-favicon {
  display: inline-block;
}

.current, .current-feed, .current-folder > h5, .current-folder > h4 {
  background-color: #FFF;
}

dl, dt, dd {
  line-height: 142%;
  white-space: normal;
}

dl.dl-horizontal {
  float: none;
  margin: 0 0 0 0 !important;
  padding: 5px 0 0 5px;
  overflow: hidden;
  height: 26px;
}

dt.item-feed {
  margin: 0 0 0 0;
  padding-top: 0;
  width: auto;
  white-space: normal;
  float: left;
  clear: none;
  display: inline;
  max-width: 12em;
  text-align: left;
}

dd.item-info {
  left: 0;
  margin: 0 5em 0 13em;
  padding: 0;
  overflow: hidden;
  position: absolute;
  white-space: normal;
  width: auto;
  float: left;
  clear: none;
}

.item-toggle-plus {

}

span.item-title {
  display: inline;
  white-space: normal;
  position: static;
  width: auto;
  padding: 0;
  margin: 0;
}

div.item-title {
  padding: 20px 20px 0 20px;
  font-size: 100%;
}

span.item-description {
  white-space: normal;
  float: none;
  position: static;
  width: auto;
  margin: 0;
  padding: 0;
}

.item-title a {
  font-family: "Segoe UI Web Semibold","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","Helvetica Neue",Arial;
  font-weight: bold;
}

.well {
  display: block;
  border: 1px solid #DDD;
  box-shadow: 0 0 4px #E3E5EB;
  margin: 10px 10px 15px 0;
  background-color: #FFF;
  z-index: 1000;
  position: relative;
  border-radius: 0;
  padding: 0;
}

div .well.current {
  border-left: 1px solid #4D90F0;
}

.current .dl-horizontal {
  border-left: 1px solid #4D90F0;
  background: #EEE;
}

.item-content {
  padding: 0 20px;
  text-align: justify;
}

.item-info-end {
  float: none;
  background-color: #FAFAFA;
  border-top: 1px solid #EBEBEB;
  padding: 15px 20px;
  text-align: right;
}

.item-info-time, .item-info-author, .item-info-authors {
  float: left;
  padding: 0 20px;
  background: none;
  border: none;
  font-size: 80%;
  height: 26px;
  line-height: 26px;
  text-align: left;
  vertical-align: middle;
}

.item-info-author, .item-info-authors {
  padding: 0px;
}

.label,
.badge {
  margin: 0px;
}

@media (min-width: 768px) {
  .nav-collapse.collapse {
    display: block;
}
}

.form-horizontal {
  background: none repeat scroll 0 0 #F1F1F1;
  border: 1px solid #E5E5E5;
  margin: 12px;
  padding: 20px 5px 0px 5px;
}

.form-horizontal fieldset {
  border: none;
}

.form-horizontal legend{
  font-size: 25px;
  font-weight: normal;
  line-height: 25px;
  margin: 0 0 0.5em;
  position: relative;
  color: #DD4B39;
}

.btn {
  display: inline-block;
  min-width: 46px;
  text-align: center;
  color: #444;
  padding: 0 8px;
  line-height: 27px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -ms-transition: all 0.218s;
  -o-transition: all 0.218s;
  transition: all 0.218s;
  border: 1px solid #dcdcdc;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}

.btn:hover {
  border: 1px solid #c6c6c6;
  color: #333;
  text-decoration: none;
  -webkit-transition: all 0.0s;
  -moz-transition: all 0.0s;
  -ms-transition: all 0.0s;
  -o-transition: all 0.0s;
  transition: all 0.0s;
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
  
.btn:active {
  background-color: #f6f6f6;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f6f6f6),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: -o-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: linear-gradient(top,#f6f6f6,#f1f1f1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
  
.btn:visited {
  color: #666;
}

button[type="submit"] {
  border: 1px solid #3079ed;
  color: #fff;
  padding: 2px 15px;
  font-size: 16px;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
  background-image: linear-gradient(top,#4d90fe,#4787ed);
}

button[type="submit"]:hover {
  border: 1px solid #2f5bb7;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
  background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
  background-image: linear-gradient(top,#4d90fe,#357ae8);
}

button[type="submit"]:active {
  background-color: #357ae8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
  background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
  background-image: linear-gradient(top,#4d90fe,#357ae8);
  -webkit-box-shadow: inset 0 1px 2px rgb  a(0,0,0,0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.btn2 {
  padding: 0 8px !important;
  font-size: 14px !important;
}

input[type=password],
input[type=text] {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  height: 32px;
  font-size: 15px;
  margin: 0;
  padding: 0 8px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

input[type=password]:hover,
input[type=text]:hover{
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

input[type=password]:focus,
input[type=text]:focus {
  outline: none;
  border: 1px solid #4d90fe;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

input[type=password][disabled=disabled],
input[type=text][disabled=disabled]{
  border: 1px solid #e5e5e5;
  background: #f1f1f1;
}

input[type=password][disabled=disabled]:hover,
input[type=text][disabled=disabled]:hover{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input[type=password][readonly=readonly],
input[type=text][readonly=readonly]{
  border: 1px solid #d9d9d9;
}

input[type=password][readonly=readonly]:focus,
input[type=text][readonly=readonly]:focus{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input[type=password].form-error,
input[type=text].form-error{
  border: 1px solid #dd4b39;
}

input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  margin: 0;
  cursor: pointer;
  vertical-align: bottom;
  background: #fff;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

input[type=checkbox]:active {
  border-color: #c6c6c6;
  background: #ebebeb;
}

input[type=checkbox]:hover {
  border-color: #c6c6c6;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
}

input[type=checkbox]:checked {
  background: #fff;
}

input[type=checkbox]:focus {
  outline: none;
  border-color:#4d90fe;
}

.input-mini {
    width: 40px !important;
    font-size: 12px !important;
}




@media (min-width: 768px) {
  .nav-collapse.collapse {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  html, body  {
    height: 100%;
  } 
  
  .full-height  {

  }
  
  #index, .row-fluid {

  }
  
  #paging-up .inline, #paging-down .inline{
    display: none;
  }
  
  .navbar {
    margin: 5px 0 15px 0;
  }
  
  .row-fluid .span9 {
    width: 100%;
  }
  
  .row-fluid .span3 {
    width: 100%;
  }

  #main-container {
    margin: 0;
    width: 100%;
  }
  
  #minor-container {
    margin: 10px 0 0 0;
    width: 100%;
  }
  
    dl {
      height: inherit;
      line-height: 26px;
      padding: 5px;
      position: relative;
    }

    .dl-horizontal dt {
      line-height: 26px;
      width: 20%;
      display: block;
      float: left;
      margin: 0;
      padding: 0;
      z-index: 1;
      overflow: hidden;
      position: relative;
    }

    .dl-horizontal dd {
      margin: 0;
      margin-left: 20%;
      line-height: 26px;
      display: block;
      height: 26px;
      float: left;
      width: auto;
      padding: 0;
      z-index: 2;
      overflow: hidden;
      position: absolute;
    }
    
    .item-toggle-plus {
      line-height: 26px;
      display: block;
      float: right;
      margin: 0;
      padding: 0 0 0 2px;
      z-index: 10;
      position: absolute;
      overflow: hidden;
      right: 0;
    }
  
  .well {
    margin: 0px;
    box-shadow: none;
    border-left: none;
    border-right: none;
    padding: 0;
  }
  
  .item-content {
    margin: 0px;
    padding: 0 2px;
  }
  
  .item-top > .label, .item-shaarli > .label, .item-mark-as > .label, .item-markStar-as > .label {
    margin: 0px 2px;
    display: inline-block;
    float: none;
  }
  
  .label {
    border-radius: 1px !important;
    padding: 2px !important;
    color: #000 !important;
    background: none !important;
  }
  
  .item-title {
    padding: 0 2px;
  }
  
  .item-title a {
    padding: 0 2px;
    display: block;
  }
  
  .item-title .item-shaarli, .item-title .item-mark-as, .item-title .item-markStar-as {
    display: none;
  }
  
  .item-info-end {
    padding: 0 2px;
  }

  dd.item-info {
    margin: 0 5em 0 2em;
  }
  
  .item-author {
    display: none;
  }

  div.item-title {
    padding: 20px 0 0 0;
  }
}
