/* Custom Sebsauvage */
html, body, .full-height {
  height: 100%;
  overflow: auto;
  font-size: 10pt;
  font-family:"Trebuchet MS","Helvetica Neue",Helvetica,Arial,sans-serif;
}

input, button, select, textarea
{
  font-size: 10pt;
  font-family:"Trebuchet MS","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.well { 
  padding:5px;
  margin-bottom: 10px;
}

.current {
  box-shadow: 5px 0px 2px 1px rgb(0, 0, 0);
}

.navbar .nav > li > a {
  border-right: 1px solid rgb(128,128,128);
  padding: 0px 5px 0px 5px;
}

input, textarea, .uneditable-input {
  width: 500px;
}

html, body {
  background-color: #055;
  color:white;
}

.well {
  background-image: linear-gradient(to bottom, rgb(240, 240, 240), rgb(180, 180, 180));
  color: black;
}
.current {
  background-color: inherit;
  border-color: black !important;
  background-image: linear-gradient(to bottom, rgb(240, 240, 240), rgb(255, 255, 255));
}

.well .current {
  background-image: none;
  background-color: white;
  color: black;
}

#status {
  color: white;
}

ul, ol {
  margin: 0px 0px 0px 25px;
}

a.item-link {
  font-weight: bold;
}

a.brand {
  padding: 10px 15px;
}
.navbar-inner {
  background-image: linear-gradient(to bottom, rgb(240, 240, 240), rgb(200, 200, 200));
}

.help-block, .help-inline {
  color: rgb(180, 180, 180);
}

legend {
  color: white;
}