@font-face {
	font-family: OpenSans;
	src: url('OpenSans-Regular.ttf');
}

#minor-container, .btn{
  background-color: #454545;
  color:white;
}

#minor-container h5 a{
  color: white;
}

li.feed a{
  color: #b4b4b4;
  font-weight: normal;
}

li.feed.has-unread a{
  color: #f5f5f5;
  font-weight: normal;
}

li.folder > h5{
  border-radius: 0;
  border: 1px solid #565656;
}

li.folder > h4{
  border-radius: 0;
  color: white;
  border-bottom:1px solid white;
}

li.folder > h4 a{
  color: white;
  font-weight: normal;
}

.current-folder > h4{
  background: transparent;
}


/* couleur verte */
li.folder > h4:hover, li.folder > h5:hover, li.feed:hover, .btn:hover, .current-feed, .navbar a:hover, .item-list:hover, .current-folder h5 {
  background-color: #4b8157;
  color: white;
}

.item-list:hover a{
  color: white;
}

.row-fluid .span3 {
    width: 20%;
}

.row-fluid .span9 {
    width: 80%;
}

.label, .badge{
  background-color: #454545;
  font-weight: normal;
  font-style: italic;
  border-radius: 0;
}

.label:hover{
  background-color: rgba(0,0,0,.5);
  font-style: normal;
}

.btn{
  border:1px solid white;
}

.navbar, #status {
  background-color: #454545;
  border: 0;
  border-radius: 0;
  border-bottom: 1px dotted black;
  color: white;
}

.navbar a, #status a{
  color: #f5f5f5;
  font-size: .8em;
}

.container{
  padding: 1px;
}

.navbar .nav > li > a {
    padding: 10px 10px;
}

.current{
  background-color: white;
  border-radius: 0;
  color: black;
}

.current:hover a{
  color: black;    
}

.item-list{
  background-color: #f5f5f5;  
}